@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    color: map-get($colors, secondary-color )
}

input {
    font-family: 'Quicksand', sans-serif;
}

button {
    font-family: 'Quicksand', sans-serif;
}

.card {
    @include ProductCard;
}