$colors: (
    primary-color: #015EEC,
    secondary-color: #131921,
    soft-red: #DE615F,
    soft-green: #BCE6D8,
    green-color: #06B390,
    soft-blue: #77AAF5,
    red-color: #832029,
    gray-color: #dfdede,
    off-white: #F5F5F7,
    white-color: #FFF,
    black-color: #1C1B22
);

$font-size: (
    heading: 5rem,
    title: 4rem,
    subtitle: 3rem,
    paragraph: 1.8rem
);

$box-shadow: 8px 10px 15px -8px rgba(0,0,0,0.1);